.delete-btn {
  position: absolute;
  top: 5%;
  left: 6%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: grey;
  opacity: 0;
  color: white;
  font-size: 16px;
  padding: 6px 16px;
  border: none;
  cursor: pointer;
  transition: opacity 0.75s;
  border-radius: 5px;
}

.product {
  position: relative;
}
.form-control-file,
.form-control-range {
  width: auto;
}

.product:before {
  content: "";
  display: block;
  position: absolute;
  height: 0%;
  width: 100%;
  top: 0;
  transition: height 0.5s ease-out;
  background: linear-gradient(to top, transparent 0%, black 150%);
}
.product:hover:before {
  height: 20%;
}

.product:hover .delete-btn {
  opacity: 100;
}

button:focus {
  outline: none;
}
@media only screen and (max-width: 800px) {
  .product {
    padding: 50px 0;
  }
  .product-image-wrapper {
    display: grid;
    grid-template-columns: 150px 150px;
    margin-left: 5%;
    grid-row-gap: 0px;
    column-gap: 50px;
  }

  .delete-btn {
    opacity: 100;
    top: 13%;
    left: 5%;
  }
  .product:before {
    transition: unset;
    background: unset;
  }
  h2 {
    font-size: 24px !important;
    width: 90% !important;
    margin-left: 10% !important;
    margin-top: 10% !important;
  }
}
.swal2-title {
  display: block !important;
}
h2 {
  margin-left: 35%;
  width: 50%;
}
